<!DOCTYPE html>
<html>
<head>
	<style></style>
	<title>Bootstrap template</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<!--<div class="bgimg">-->
		<nav class="navbar shadow navbar-expand-md fixed-top justify-content-center">
			<div class="container">
				<a href="" class="navbar-brand font-weight-bold">OT</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">
					<span class="navbar-toggler-icon"></span>
                </button>
			    <div class="collapse navbar-collapse text-center" id="collapsenavbar">
			    	<ul class="navbar-nav m-auto justify-content-center">
			    		<div class="dropdown"><li class="nav-item1">
			    			<a href="" class="nav-link text-dark">Good News</a><div class="dropdown-content"><img src="image/diwali.jpg" alt="Cinque Terre" width="300" height="200">
  <div class="desc">Beautiful Cinque Terre</div>
  </div>
			    		</li></div>
			    		<div class="dropdown"><li class="nav-item1">
			    			<a href="" class="nav-link text-dark">Fact check</a><div class="dropdown-content"><img src="image/factcheck.jpg" alt="Cinque Terre" width="300" height="200">
  <div class="desc">Beautiful Cinque Terre</div>
  </div>
			    		</li></div>
			    		<div class="dropdown"><li class="nav-item1">
			    			<a href="" class="nav-link text-dark">Life</a><div class="dropdown-content"><img src="image/life.jpg" alt="Cinque Terre" width="300" height="200">
  <div class="desc">Beautiful Cinque Terre</div>
  </div>
			    		</li></div>
			    		<div class="dropdown"><li class="nav-item1">
			    			<a href="" class="nav-link text-dark">Social</a><div class="dropdown-content"><img src="image/social.jpg" alt="Cinque Terre" width="300" height="200">
  <div class="desc">Beautiful Cinque Terre</div>
  </div>
			    		</li></div>
			    		<div class="dropdown"><li class="nav-item1">
			    			<a href="" class="nav-link text-dark">Scientific</a><div class="dropdown-content"><img src="image/scientific.jpg" alt="Cinque Terre" width="300" height="200">
  <div class="desc">Beautiful Cinque Terre</div>
  </div>
			    		</li></div>
			    		<div class="dropdown"><li class="nav-item1">
			    			<a href="" class="nav-link text-dark">Artistic</a><div class="dropdown-content"><img src="image/artistic.jpg" alt="Cinque Terre" width="300" height="200">
  <div class="desc">Beautiful Cinque Terre</div>
  </div>
			    		</li></div>
			    		<div class="dropdown"><li class="nav-item1">
			    			<a href="" class="nav-link text-dark">Literature</a><div class="dropdown-content"><img src="image/literature.jpg" alt="Cinque Terre" width="300" height="200">
  <div class="desc">Beautiful Cinque Terre</div>
  </div>
			    		</li></div>
			    		<div class="dropdown"><li class="nav-item1">
			    			<a href="" class="nav-link text-dark">Green</a><div class="dropdown-content"><img src="image/green.jpg" alt="Cinque Terre" width="300" height="200">
  <div class="desc">Beautiful Cinque Terre</div>
  </div>
			    		</li></div>
			    		<div class="dropdown"><li class="nav-item1">
			    			<a href="" class="nav-link text-dark">Politics</a><div class="dropdown-content"><img src="image/politics.png" alt="Cinque Terre" width="300" height="200">
  <div class="desc">Beautiful Cinque Terre</div>
  </div>
			    		</li></div>
			    		<div class="dropdown"><li class="nav-item1">
			    			<a href="" class="nav-link text-dark">Self help</a><div class="dropdown-content"><img src="image/self.jpg" alt="Cinque Terre" width="300" height="200">
  <div class="desc">Beautiful Cinque Terre</div>
  </div>
			    		</li></div>
			    	</ul>
			    </div>
			</div>
		</nav>
		<!--<div class="container text-center text-white headerset">
			<h2>Welcome</h2>
			<h1>OT</h1>
			<button class="btn btn-warning text-white btn-lg">SUBSCRIBE</button>
		</div>
	</div>
	<section class="container ourservices text-center">
		<h1>SERVICES</h1>
		<p>hgfjgjhgj</p>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
				<div class="imgsetting d-block m-auto"><i class="fa fa-glass fa-3x"></i></div>
			<h2>E-commerce</h2>
			<p>fjfgjhknjjjjjjjjjjjjjjjjjjjjjjjjbhjvhvj</p>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
				<div class="imgsetting d-block m-auto"><i class="fa fa-glass fa-3x"></i></div>
			<h2>E-commerce</h2>
			<p>fjfgjhknjjjjjjjjjjjjjjjjjjjjjjjjbhjvhvj</p>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
				<div class="imgsetting d-block m-auto"><i class="fa fa-glass fa-3x"></i></div>
			<h2>E-commerce</h2>
			<p>fjfgjhknjjjjjjjjjjjjjjjjjjjjjjjjbhjvhvj</p>
			</div>
		</div>
	</section>
	<section class="portfol bg-light">
		<div class="container text-center">
			<h1>PORTFOL</h1>
			<p>gvhgjvjhvhjvvjh</p>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m=auto">
					<div class="card">
						<img src="image/11.jpg" class="card-img img-fluid">
						<div class="card-body">
							<h2>Anything</h2>
							<p>jhjkjnjhjjnk</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m=auto">
					<div class="card">
						<img src="image/11.jpg" class="card-img img-fluid">
						<div class="card-body">
							<h2>Anything</h2>
							<p>jhjkjnjhjjnk</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m=auto">
					<div class="card">
						<img src="image/11.jpg" class="card-img img-fluid">
						<div class="card-body">
							<h2>Anything</h2>
							<p>jhjkjnjhjjnk</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<footer class="footer">
	n,jnkkmlm;ll/.
</footer>-->
<section class="container ourservices text-center">
		<h1>Center Pieces</h1>
		<div class="row">
			<div class=" bord col-lg-3 col-md-3 col-sm-3 col-10 d-block m-auto">
				<div class="card" style="width: 16rem;">
					<div class="inner"><img src="image/factcheck.jpg" class="card-img-top" alt="..."></div>
   <div class="card-body">
    <h5 class="card-title">Fact Check</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Read More..</a>
  </div>
</div>
			</div>

			<div class=" bord1 col-lg-6 col-md-6 col-sm-6 col-10 d-block m-auto">
				<div class="card shadow" style="width: 33.7rem;">
					<div class="inner"><img src="image/good.jpg" class="card-img-top" alt="..."></div>
    <div class="card-body">
    <h5 class="card-title">Good News</h5><hr>
    <p class="card-text">An initiative to spread positivity.</p>
    <a href="#" class="btn btn-primary">Read More..</a>
  </div>
			</div>
  </div>
			<div class=" bord2 col-lg-3 col-md-3 col-sm-3 col-10 d-block m-auto">
				<div class="card" style="width: 16rem;">
                <div class="inner"><img src="image/11.jpg" class="card-img-top" alt="..."></div>
  <div class="card-body">
    <h5 class="card-title">Misc</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Read More..</a>
  </div>
		</div>
	</div>
</div>
	</section>
	<!--Portf-->
    <section class="section-padding" id="portfolio">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-12">
    				<h2 class="title text-center">collection</h2>
    			</div>
    		</div>
    	<div class="container">
    		<div id="my-grid" class="grid-padding">
    			<div class="row">
    				<div class="col-sm-4">
    					<div class="row"><img src="image/11.jpg" class="fit-image onclick="openModal();currentSlide(1)"></div>
    					<div class="row"><img src="image/diwali.jpg" class="fit-image onclick="openModal();currentSlide(2)"></div>
    					<div class="row"><img src="image/vertical.jpg" class="fit-image onclick="openModal();currentSlide(3)"></div>
    					<div class="row"><img src="image/vertical1.png" class="fit-image onclick="openModal();currentSlide(4)"></div>
    				</div>
    				<div class="col-sm-4">
    					<div class="row"><img src="image/vertical3.jpeg" class="fit-image onclick="openModal();currentSlide(5)"></div>
    					<div class="row"><img src="image/11.jpg" class="fit-image onclick="openModal();currentSlide(6)"></div>
    					<div class="row"><img src="image/diwali.jpg" class="fit-image onclick="openModal();currentSlide(7)"></div>
    					<div class="row"><img src="image/vertical.jpg" class="fit-image onclick="openModal();currentSlide(8)"></div>
    					<div class="row"><img src="image/vertical1.png" class="fit-image onclick="openModal();currentSlide(9)"></div>
    				</div>
    				<div class="col-sm-4">
    					<div class="row"><img src="image/11.jpg" class="fit-image onclick="openModal();currentSlide(10)"></div>
    					<div class="row"><img src="image/vertical3.jpeg" class="fit-image onclick="openModal();currentSlide(11)"></div>
    					<div class="row"><img src="image/diwali.jpg" class="fit-image onclick="openModal();currentSlide(12)"></div>
    					<div class="row"><img src="image/vertical2.jpg" class="fit-image onclick="openModal();currentSlide(13)"></div>
    					<div class="row"><img src="image/vertical.jpg" class="fit-image onclick="openModal();currentSlide(14)"></div>
    					<div class="row"><img src="image/vertical1.png" class="fit-image onclick="openModal();currentSlide(15)"></div>
    				</div>
    			</div>
    		</div>
    	</div>
    	</div>
    </section>





   <div class="container grid-collection">
   	<h3 class="text-center text-warning">LATEST</h3>
   	<div class="row my-row justify-content-center ">
   		<div class="col-lg-4 col-md-4 col-sm-4 col-12 align-self-start ">
   		<img src="image/11.jpg" class="img-fluid"></div>
   		<div class="col-lg-8 col-md-8 col-sm-8 col-12">
   		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
   		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
   		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
   		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   	</div>

        <div class="row my-row justify-content-around">
   		<div class="col-lg-4 col-md-4 col-sm-4 col-12 align-self-start">
   		<img src="image/11.jpg" class="img-fluid"></div>
   		<div class="col-lg-8 col-md-8 col-sm-8 col-12">
   		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
   		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
   		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
   		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   	</div>

   	<div class="row my-row justify-content-center">
   		<div class="col-lg-4 col-md-3 col-sm-3 col-12 ">
   		<img src="image/11.jpg" class="img-fluid"></div>
   		<div class="col-lg-8 col-md-8 col-sm-8 col-12">
   		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
   		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
   		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
   		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   	</div>

   	<div class="row my-row justify-content-center">
   		<div class="col-lg-4 col-md-4 col-sm-4 col-12 ">
   		<img src="image/11.jpg" class="img-fluid"></div>
   		<div class="col-lg-8 col-md-8 col-sm-8 col-12">
   		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
   		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
   		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
   		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
   		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
   		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   	</div>
   </div>


   <div class="container">
   <footer id="footer">
   	<div class="footer-top">
   		<div class="container">
   			<div class="row">
   				<div class="col-lg-4 col-md-6 footer-info">
   					<h3>Webname</h3>
   					<p>gvjhhbkjjnjnljnjhbbbbbbbbbbbbbbb</p>
   				</div>
   			    <div class=" col-lg-2 col-md-6 footer-links">
   			    	<h4>Usefullinks</h4>
   			    	<ul>
   			    		<li><a href="#">l1</a></li>
   			    		<li><a href="#">l2</a></li>
   			    		<li><a href="#">l3</a></li>
   			    		<li><a href="#">l4</a></li>
   			    	</ul>
   			    </div>
   			    <div class="col-lg-3 col-md-6 footer-contact">
   			    	<h4>contact us</h4>
   			    	<p>addr</p>
   			    	<div class="social-links">
   			    		<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
   			    		<a href="#" class="twitter"><i class="fa fa-facebook"></i></a>
   			    		<a href="#" class="twitter"><i class="fa fa-instagram"></i></a>
   			    		<a href="#" class="twitter"><i class="fa fa-youtube"></i></a>
   			    	</div>
   			    </div>
   			    <div class="col-lg-3 col-md-6 footer-newsletter">
   			    	<h4>Newslatter</h4>
   			    	<form accept="" method="post">
   			    		<input type="email" name="email">
   			    		<input type="submit" value="SUBSCRIBE">
   			    	</form>
   			    </div>
   			</div>
   		</div>
       <div class="container">
       	<div class="copyright">
       		&copy;
       	</div>
       </div>
   	</div>

   </footer>
</div>

   	

   	
 
</body>
</html>
